#drum-set {
    width: 50%;
    margin-top: 10%;
    @media (max-width: 650px) {
        width: 70%
    }
    @media (max-width: 500px) {
        width: 80%;
        font-size: 12px;
    }
}

#row-2 {
    margin-top: 10px;
}

.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad {
    background-color: #f3f3f3;
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    @media (max-width: 1050px) {
        height: 50px;
        width: 50px;
    }
    @media (max-width: 650px) {
        height: 40px;
        width: 40px;
    }
    @media (max-width: 500px) {
        height: 30px;
        width:30px;
    }
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50px;
    background: yellowgreen;
}
